* {
	margin: 0;
	padding: 0;
}

@font-face {
    font-family: 'Avenir';
    src: local('Avenir'),
         url('/fonts/Avenir-Heavy.ttf') format('truetype'),
         url('/fonts/Avenir-Heavy.eot') format('embedded-opentype'),
         url('/fonts/Avenir-Heavy.woff') format('woff'); 
    font-weight: 900;
    font-style: normal;
}

@font-face {
	font-family: 'AvenirNextCyr-Thin';
	src: url('../fonts/avenirnextcyr-thin.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/avenirnextcyr-thin.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/avenirnextcyr-thin.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/avenirnextcyr-thin.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/avenirnextcyr-thin.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/avenirnextcyr-thin.svg#avenirnextcyr-thin') format('svg'); /* Chrome < 4, Legacy iOS */
}

body {
	font-family: 'Avenir', Tahoma, Geneva, Verdana, sans-serif;
}
	
.background {
	position: static;
}
.horse{
	position: absolute;
	height: 1024px;
	width: 1024px;
	right: 0;
}

.back_main {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	height: 509.7440185546875px;
	width: 698px;
	left: 64px;
	top: 193px;
	border-radius: 24px;
	padding-top: 40px;
	padding-left: 56px;
	background: linear-gradient(124.42deg, rgba(0, 0, 0, 0.36) 5.12%, rgba(0, 0, 0, 0.0675) 102.99%);
	backdrop-filter: blur(8px);
	border-radius: 24px;
}

.h1-text {
	line-height: 80px;
	font-size: 32px;
	display: flex;
	position: static;
	color: white;
}
.h2-text {
	line-height: 1.5;
	font-family: 'AvenirNextCyr-Thin';
	font-size: 21px;
	margin-top: 40px;
	display: flex;
	color: white;

}
.color-blocks{
	/* position: fixed; */
	display: flex;

}

.color-blocks_yellow {
	height: 16px;
	width: 16px;
	background-color: #ffff67;
}

.color-blocks_aqua{
	height: 16px;
	width: 16px;
	background-color: #3fffff;
}

.color-blocks_green{
	height: 16px;
	width: 16px;
	background-color: #52DC4B;
}

.color-blocks_red{
	height: 16px;
	width: 16px;
	background-color: #FF6E3D;
}

.color-blocks_blue{
	height: 16px;
	width: 16px;
	background-color: #3D45FF;
}

.color-blocks_down {
	right: 0;
	bottom: 0;
	position: fixed;
}

.color-blocks_up {
	left: 56px;
	top: 40px;
	/* position: absolute; */
}

.button_explore {
	margin-top: 40px;
	background-color: #63E1E1;
	border-radius: 36px;
	width: 182px;
	height: 66px;
	font-size: 24px;
	box-shadow: 0px 0px 20px rgba(99, 225, 225, 0.25);
}

.back_footer {
	border: solid;
	border-width: 1px;
	color: white;
	box-sizing: border-box;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	align-items: center;
	padding: 24px 56px;
	gap: 92px;
	position: absolute;
	width: 1312px;
	height: 171px;
	left: 64px;
	top: 791px;
	background: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 100%);
	backdrop-filter: blur(8px);
	border-radius: 32px;
}

.back>h3{
	font-size: 24px;

}
.back>p{
	font-family: 'AvenirNextCyr-Thin';
	font-size: 18px;
}

